/* Background color: #162447
Cards overlay: #1f4068
Primary Text: #ececec
Secondary Text: #e43f5a 
*/

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #162447;
  overflow: hidden;
}

.PrimaryText {
  color: #ececec;
  font-weight: 600;
}

.SecondaryText {
  color: #e43f5a;
  font-weight: 600;
}

.SysInfo {
  margin: 0px;
  margin-top: 10px;
}

.GridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px;
  margin-bottom: 40px;
}

.GridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
