.CircularUsageWrapper {
    width: 20vw;
    height: 20vw;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CircularUsageTitle {
    margin: 0px;
    padding-bottom: 4px;
}

.CircularUsageSubContent {
    margin: 0px;
}
