.CircularUsageWrapper {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
}

.CircularUsageInfoContainer {
    position: absolute;
    top: 10vw;
    left: 10vw;
    transform: translate(-50%, -50%);
}

.CircularUsageTitle {
    margin: 0px;
    padding-bottom: 4px;
}

.CircularUsageSubContent {
    text-align: center;
    margin: 0px;
}
